body {
    font-family: 'Open Sans', sans-serif;
}

.header-001 {
    height: 35px;
    font-size: 14px;
    color: rgb(1, 1, 1);
    line-height: 35px;
}

.header-001 .adress {
    float: right;
}

.header-001 .adress img {
    vertical-align: baseline;
}

.header-001 .phone {
    float: right;
    margin-left: 50px;
}

.menu-001 .navbar {
    background-color: #1b365b;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.menu-001 .navbar-nav>li>a {
    line-height: 30px;
}

.menu-001 .navbar-header {
    font-size: 28px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 60px;
}

.menu-001 .navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    padding: 15px 0;
}

.menu-001 .nav>li {
    margin-left: 30px;
}

.menu-001 .navbar-default .navbar-nav>.open>a,
.menu-001 .navbar-default .navbar-nav>.open>a:focus,
.menu-001 .navbar-default .navbar-nav>.open>a:hover {
    background-color: inherit;
}

.menu-001 .navbar-default .navbar-nav>.active>a,
.menu-001 .navbar-default .navbar-nav>.active>a:focus,
.menu-001 .navbar-default .navbar-nav>.active>a:hover,
.menu-001 .navbar-default .navbar-nav>li>a:focus,
.menu-001 .navbar-default .navbar-nav>li>a:hover
{
    background-color: inherit;
    color: #64b5f6;
}

.menu-001 .navbar-items {
    float: right;
}

.gallery-001 .container {
    border-top: solid 2px #d8354c;
    padding: 0;
}

.gallery-001 .gallery-title {
    height: 120px;
    color: #184e9f;
    line-height: 120px;
    font-size: 26px;
}

.gallery-001 .btn-primary {
    float: right;
    border-radius: 7px;
    background-image: -moz-linear-gradient( 90deg, rgb(13,71,161) 0%, rgb(25,118,210) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(13,71,161) 0%, rgb(25,118,210) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(13,71,161) 0%, rgb(25,118,210) 100%);
    box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.45);
    height: 44px;
    border: 0;
    font-size: 16px;
    margin-top: 10px;
}

.gallery-001 .carousel-wrapper {
    position: absolute;
    transform: translate(-50%, 0);
    right: auto;
    left: 50%;
    bottom: 0;
    margin-bottom: 10px;
    width: 33.33333333%;
}

.gallery-001 .thumbnail {
    border: 0;
    padding: 0;
    margin: 0 0 10px 0;
    position: relative;
}

.galelry-001 .thumbnail a>img,
.gallery-001 .thumbnail>img {
    margin: 0;
}

.gallery-001 .col-sm-4 {
    padding: 0;
}

.gallery-001 .left-column .thumbnail {
    margin-right: 5px;
}

.gallery-001 .middle-column .thumbnail {
    margin-right: 5px;
    margin-left: 5px;
}

.gallery-001 .right-column .thumbnail {
    margin-left: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.gallery-001 .left.carousel-control {
    left: 5px;
    height: 200px;
    position: absolute;
    top: -200px;
}

.gallery-001 .right.carousel-control {
    right: 5px;
    height: 200px;
    position: absolute;
    top: -200px;
}

.gallery-001 .thumbnail:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 56, 115, 0.75);
}

.gallery-001 .thumbnail:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("../images/loup.png") no-repeat scroll center center;
}

.gallery-001 .carousel-control.sliding {
    background: none;
}

@media (max-width: 767px) {
    .header-001 .phone {
        float: none;
        width: 375px;
        margin: 0 auto;
    }
    .menu-001 .container {
        width: 375px;
        margin: 0 auto;
    }
    .gallery-001 .container {
        width: 375px;
        margin: 0 auto;
    }
    .gallery-001 .carousel-control {
        background: transparent;
    }
    .menu-001 .navbar-header  {
        margin: 0;
    }
    .menu-001 .navbar-toggle {
        margin: 13px 0;
    }
    .menu-001 .navbar-toggle:hover {
        border-color: #64b5f6;
    }
    .menu-001 .navbar-toggle:hover .icon-bar {
        background-color: #64b5f6;
    }
    .menu-001 .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .menu-001 .navbar-items {
        float: none;
    }
    .menu-001 .navbar-collapse {
        overflow: hidden;
    }
    .menu-001 .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
        line-height: 30px;
        padding: 15px 0;
        font-size: 15px;
    }
    .menu-001 .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #64b5f6;
    }
    .menu-001 .navbar-default .navbar-nav .open .dropdown-menu {
        margin: 0;
        padding: 0;
    }
    .gallery-001 .carousel-wrapper {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .gallery-001 .left.carousel-control,
    .gallery-001 .right.carousel-control {
        right: 5px;
        height: 129px;
        position: absolute;
        top: -129px;
    }
    .gallery-001 .carousel-control .glyphicon-chevron-right,
    .gallery-001 .carousel-control .glyphicon-chevron-left {
        font-size: 22px;
    }

    .menu-001 .dropdown-menu {
        background-color: #10294f;
        border-radius: 0;
        border: 0;
        border-top: solid 3px #2964bc;
        box-shadow: none;
        left: auto;
        right: 0;
        transform: translate(0, 0);
        text-align: center;
    }

    .menu-001 .dropdown-menu:after {
        position: absolute;
        top: -9px;
        left: auto;
        right: 10%;
        transform: translate(-50%, 0);
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #2964bc;
        border-left: 6px solid transparent;
        content: '';
    }

    .menu-001 .dropdown-menu>li>a {
        line-height: 25px;
    }

    .menu-001 .dropdown-menu>li>a:focus,
    .menu-001 .dropdown-menu>li>a:hover {
        background-color: inherit;
        color: #4c7eca;
    }

    .menu-001 .dropdown-menu>li>a {
        color: #fff;
    }
}

@media (min-width: 992px) {
    .gallery-001 .left.carousel-control,
    .gallery-001 .right.carousel-control {
        right: 5px;
        height: 168px;
        top: -168px;
    }
    .gallery-001 .carousel-control .glyphicon-chevron-right,
    .gallery-001 .carousel-control .glyphicon-chevron-left {
        font-size: 25px;
    }
}

@media (max-width: 1200px) {
    .header-001 .container {
        padding: 0;
    }
    .menu-001 .container {
        padding: 0;
    }
    .menu-001 .navbar-collapse {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .gallery-001 .container {
        width: 1140px;
    }
    .gallery-001 .left.carousel-control,
    .gallery-001 .right.carousel-control {
        right: 5px;
        height: 200px;
        top: -200px;
    }
    .gallery-001 .carousel-control .glyphicon-chevron-right,
    .gallery-001 .carousel-control .glyphicon-chevron-left {
        font-size: 30px;
    }
    .menu-001 .dropdown-menu {
        left: 50%;
        right: auto;
        transform: translate(-50%, 0);
    }
    .menu-001 .dropdown-menu:after {
        position: absolute;
        top: -9px;
        left: 50%;
        right: auto;
        transform: translate(-50%, 0);
    }
}